.container {
  background-color: rgb(33, 37, 41);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navBar {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0px;
}

.navBar li {
  list-style: none;
}
.circle {
  width: 40px;
  height: 40px;
  background-color: #6e6f6f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------MAIN --------------------------------- */
.main {
  flex: 1;
  background-color: rgb(33, 37, 41);
}

/* -------------------- BIENVENIDA ----------------- */

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  border: 1px solid; */
  padding: 0 20px;
  height: 100px;
}

.welcome img {
  width: 70px;
}

.welcome p {
  margin: 0px;
}

/* ---------------------- mostrar cuentas ------------------------ */
a {
  text-decoration: none;
  color: white;
}
.eye {
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
}
.eye:hover {
  color: #6e6f6f;
}

.accounts {
  padding: 17px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accountstitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  padding: 0.8rem;
  border-radius: 1rem;
}

.account :first-child {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.account :last-child {
  display: flex;
  flex-direction: column;
  align-items: end;
}

/* --------------------- TRANSFERENCIAS ----------------- */

.transactions {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.transactions h2 {
  padding: 0 10px;
}

.transaction {
  border: 1px solid;
  padding: 10px;
}

.transactioncard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 0.8rem 0.8rem 0 0.8rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid;
  height: 3.2rem;
  background-color: rgb(33, 37, 41);
}

.footer p {
  margin: 0;
}
