.containerRegister {
  background-color: rgb(33, 37, 41);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.register-card {
  width: 510px;
  background: rgb(44, 43, 49);
  color: #ffffff;
  border-radius: 5px;
  padding: 30px 50px;
}

.register-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.register-form .form-row {
  display: flex;
  justify-content: space-between;
}

.register-form .form-group {
  margin-bottom: 15px;
  width: 48%;
}

.terms {
  display: flex;
  gap: 5px;
}

.terms label p {
  font-size: 12px;
  width: max-content;
}

.btn-toggle-password {
  margin-top: 4px;
  font-size: 15px;
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.btn-primary {
  width: 100%;
  background-color: #00a79d;
  border: none;
}
